.row-header {
  height: 100px;
}

.col-header {
  margin-top: 15px;
  margin-left: 35px;
  background-color: rgb(255, 255, 255);
  width: 99%;
  height: auto;
  border-radius: 15px;
  padding: 10px;
}

.content-header {
  margin-top: 5px;
  margin-left: 15px;
}

.row-body {
  width: 99%;
  margin-left: 5px;
  height: 800px;
  margin-top: 65px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px;
}

.row-footer-left {
  width: 52%;
  margin-left: 5px;
  height: 600px;
  margin-top: 35px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px;
}

.row-footer-right {
  width: 46%;
  margin-left: 15px;
  height: 600px;
  margin-top: 35px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px;
}

.header-date {
  margin-left: 50px;
}

.row-body-container {
  margin-right: 139px;
  margin-bottom: 159px;
}

.color-text-topic {
  color: rgb(150, 150, 150);
}

.color-text-content {
  color: rgb(196, 133, 56);
}

.chart-container .chartjs-legend {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  color: #333;
}

#chartdivChart {
  width: 1130px;
  height: 590px;
  margin-right: 50px;
}

#chartdivPie {
  width: 100%;
  height: 390px;
}